<div id="one-bed-room-page" class="bedroom-page">
  <div class="image-header flex-all">
    <div class="image-header-text">
      <h1>One BedRoom</h1>
      <p>
        Size 32 sqm.<br />
        43" Flat screen TV,  Microwave, <br />
        Coffee and Tea making facilities, Shower, Balcony, Cabinet <br />
      </p>
    </div>
    <img src="/images/1bed/b1.png" alt="" />
  </div>
  <h1>Inside Our One Bedroom</h1>
  <div id="bedroom-slide" class="swiper-container">
    <div class="swiper-wrapper">
      {{#each onebedSlide}}
      <div class="swiper-slide" style="background-image:url({{img}})"></div>
      {{/each}}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
