<div id="two-bed-room-page" class="bedroom-page">
  <div class="image-header flex-all">
    <div class="image-header-text">
      <h1>Two BedRoom</h1>
      <p>
        Size 49 sqm.<br />
        43" Flat screen TV,  Microwave, Electric Stove<br />
        Coffee and Tea making facilities <br />
        Shower, Balcony, Cabinet
      </p>
    </div>
    <img src="/images/2bed/b1.png" alt="" />
  </div>
  <h1>Inside Our Two Bedrooms</h1>
  <div id="bedroom-slide" class="swiper-container">
    <div class="swiper-wrapper">
      {{#each twobedSlide}}
      <div class="swiper-slide" style="background-image:url({{img}})"></div>
      {{/each}}
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</div>
