<div id="facilities-page" class="section swiper-container">
      <div class="parallax-bg parallax-bg-facilities" data-swiper-parallax="-20%"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="title" data-swiper-parallax="-100">
                <i class="fa fa-bath" aria-hidden="true"></i>
                Facilities
              </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-users" aria-hidden="true"></i>
                     2 Elevators
                  </li>
                  <li>
                    <i class="fa fa-support" aria-hidden="true"></i>
                    Huge Swimming Pool
                   </li>
                  <li>
                    <i class="fa fa-tv" aria-hidden="true"></i>
                    Internet Cafe
                  </li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide show-right">
            <div class="title" data-swiper-parallax="-100">
              <i class="fa fa-bath" aria-hidden="true"></i>
              Facilities
            </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                     Modern Pool View Gym
                  </li>
                  <li>
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    CHANGE Bisto ( Restaurant )
                   </li>
                  <li>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Souvenir Shop ( local handmade )
                  </li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide show-right">
            <div class="title" data-swiper-parallax="-100">
              <i class="fa fa-bath" aria-hidden="true"></i>
              Facilities
            </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-tint" aria-hidden="true"></i>
                     Balcony in every room
                  </li>
                  <li>
                    <i class="fa fa-car" aria-hidden="true"></i>
                    Secured and Ample Parking space
                   </li>
                  <li>
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                    Double Walls and Full Blackout curtains
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
</div>
<div class="facilities-container flex-all">
  <div class="facilities-in-item">
    <h1>Our Facilities are ready for you</h1>
    <div id="facilities-slide" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(/images/facilities/f1.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f2.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f3.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f4.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f5.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f6.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f7.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f8.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f9.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f10.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f11.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f12.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f13.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f14.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f15.png)"></div>
        <div class="swiper-slide" style="background-image:url(/images/facilities/f16.png)"></div>
      </div>
    </div>
  </div>
  <div class="facilities-in-item">

  </div>
  <div class="facilities-in-item">

  </div>
</div>
