<div id='home-page'>
  <div class="image-header">
    <div class="image-header-text">
      <h1>The Change All Suites | Korat</h1>
      <p>
        The hotel is conveniently <br>
        located in the heart of Korat
      </p>
    </div>
    <img src="images/header.jpg" alt="" />
  </div>

  <div id='greeting-section' class='section'>
    <p class='header-greeting' >The Best Choice at Korat</p>
    <div id='greeting-section-slide' class='swiper-container'>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8666_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8668_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8672_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8673_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      </div>
    </div>
    <p class='body-greeting'>
      <u>Welcome to The Change All Suites</u>
      <br  />
      Experience impeccable service to create unforgettable experiences.
    </p>
  </div>
</div>

<div id="room-section" class="section swiper-container">
    <div class="parallax-bg" data-swiper-parallax="-20%"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-100">1 Bedroom Suites</div>
            <div class="subtitle" data-swiper-parallax="-400">1 ห้องนอน</div>
            <div class="text" data-swiper-parallax="-600">
              <p>
                This room can stay 2 persons
              </p>
                <ul>
                  <li>* 43 Units</li>
                  <li>* Size 32 sqm</li>
                  <li>* Flat screen TV</li>
                  <li>* Microwave</li>
                  <li>* Electric Stove</li>
                  <li>* Free WIFI internet</li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide show-right">
            <div class="title" data-swiper-parallax="-100">2 Bedrooms Suites</div>
            <div class="subtitle" data-swiper-parallax="-400">2 ห้องนอน</div>
            <div class="text" data-swiper-parallax="-600">
              <p>
                This room can stay up to 2 persons
              </p>
                <ul>
                  <li>* 43 Units</li>
                  <li>* Size 42 sqm</li>
                  <li>* Flat screen TV</li>
                  <li>* Microwave</li>
                  <li>* Electric Stove</li>
                  <li>* Free WIFI internet</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>
<div id="facilities-section" class="section swiper-container">
  <div class="header-facilities">
    FACILITIES
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/slides/facilities/f1.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f2.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f3.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f4.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f5.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f6.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f7.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f8.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f9.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f10.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f11.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f12.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f13.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f14.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f15.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="images/slides/facilities/f16.png" alt="">
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination-white"></div>
</div>
