<div id='home-page'>
  <div class="image-header flex-all">
    <div class="image-header-text">
      <h1>The Change Suite | Korat</h1>
      <p>
        The hotel is conveniently <br>
        located in the heart of Korat
      </p>
    </div>
    <img src="images/header.png" alt="" />
  </div>
<br><br>
  <div id='greeting-section' class='section'>
    <p class='header-greeting' >The Best Choice at Korat</p>
    <div id='greeting-section-slide' class='swiper-container'>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each greetingSlide}}
          <div class="swiper-slide">
            <img class='swiper-lazy' src={{img}} alt="" />
            <div class="swiper-lazy-preloader"></div>
          </div>
        {{/each}}
      </div>
    </div>
    <p class='body-greeting'>
      <u>Welcome to The Change Suite</u>
      <br  />
      Experience impeccable service to create unforgettable experiences.
    </p>
  </div>
</div>
<br><br>

  <div id="room-section" class="section swiper-container">
      <div class="parallax-bg parallax-bg-room" data-swiper-parallax="-20%"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <a href="/accomodation/onebedroom">
                <div class="title" data-swiper-parallax="-100">1 Bedroom Suites</div>
              </a>
              <div class="subtitle" data-swiper-parallax="-400">1 ห้องนอน</div>
              <div class="text" data-swiper-parallax="-600">
                <p>
                  This room can stay 2 persons
                </p>
                  <ul>
                    <li>* Size 32 sqm</li>
                    <li>* Flat screen TV</li>
                    <li>* Microwave</li>
                    <li>* Kettle</li>
                    <li>* Free WIFI internet</li>
                  </ul>
              </div>
          </div>
          <div class="swiper-slide show-right">
              <a href="/accomodation/twobedroom">
                <div class="title" data-swiper-parallax="-100">2 Bedrooms Suites</div>
              </a>
              <div class="subtitle" data-swiper-parallax="-400">2 ห้องนอน</div>
              <div class="text" data-swiper-parallax="-600">
                <p>
                  This room can stay up to 2 persons
                </p>
                  <ul>
                    <li>* Size 49 sqm</li>
                    <li>* Flat screen TV</li>
                    <li>* Microwave</li>
                    <li>* Kettle</li>
                    <li>* Free WIFI internet</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
  </div>
  <div class="services-facilities-container flex-all">
    <div id="services-item-left" class="flex-item">
      <div class="text">
        <h1>SERVICES</h1>
        <p>
          <ul>
            <li>FREE! อินเทอร์เน็ตความเร็วสูง - WIFI High Speed Internet</li>
            <li>FREE! เคเบิ้ลทีวี - Cable TV</li>
            <li>
              พนักงานต้อนรับบริการเวลา 07.00 - 23.00 น<br />
              Reception will available from 7am to 11pm
            </li>
            <li>มีบริการซักรีด - Laundry Service</li>
            <li>ระบบรักษาความปลอดภัย 24 ชั่วโมง - 24 hr. Security Serivce</li>
            <li>กล้องวงจรปิด - CCTV</li>
          </ul>
        </p>
          <a href="/facilities">
            <div class="button services-button">
              More Services...
            </div>
          </a>
      </div>
    </div>
    <div id="services-item-right" class="flex-item">
      <img src="/images/facilities/index-facilities1.png" alt="">
    </div>
  </div>
  <div class="services-facilities-container flex-all">
    <div id="facilities-item-left" class="flex-item">
      <img src="/images/facilities/index-facilities2.png" alt="">
    </div>
    <div id="facilities-item-right" class="flex-item">
      <div class="text">
        <h1>FACILITIES</h1>
        <p>
          <ul>
            <li>สระว่ายน้ำขนาดใหญ่ - Huge Swimming Pool</li>
            <li>สระจากุซซี่ - Jacuzzi</li>
            <li>ลาดจอดรถ - Parking Space</li>
            <li>ฟิตเนส - Modern Pool View Gym</li>
            <li>ร้านอาหาร - Restaurant</li>
            <li>มินิมาร์ท - Convenience Store</li>
          </ul>
        </p>
          <a href="/facilities">
            <div class="button facilities-button">
              More Facilites...
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
