<div id='home-page'>
  <div class="image-header">
    <div class="image-header-text">
      <h1>The Change All Suites | Korat</h1>
      <p>
        The hotel is conveniently <br>
        located in the heart of Korat
      </p>
    </div>
    <img src="images/header.jpg" alt="" />
  </div>

  <div id='greeting-section' class='section'>
    <p>The Best Choice at Korat</p>
    
  </div>
</div>
