<div id='home-page'>
  <div class="image-header">
    <div class="image-header-text">
      <h1>The Change All Suites | Korat</h1>
      <p>
        The hotel is conveniently <br>
        located in the heart of Korat
      </p>
    </div>
    <img src="images/header.jpg" alt="" />
  </div>

  <div id='greeting-section' class='section'>
    <p>The Best Choice at Korat</p>
    <div class='swiper-container'>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8666_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8668_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8672_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide">
        <img class='swiper-lazy' src="images/slides/IMG_8673_3.png" alt="" />
        <div class="swiper-lazy-preloader"></div>
      </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
