<!DOCTYPE html>
<html>
  <head>
    <title>The Change Suite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/swiper/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>
    <nav class="flex-all">
        <!-- Home -->
        <a href="/">
          <div id='nav-home' class='nav-item'>
            HOME
          </div>
        </a>
        <!-- End Home -->

        <!-- Accomodation -->
        <div id='nav-accomodation' class='nav-item'>
          <div id='sub-accomodation-header'>
            ACCOMODATION
          </div>
          <div id='sub-accomodation' class='sub-menu'>
            <div class="submenu-text">
              Accomodation<br />
              ห้องพัก
            </div>
          </div>
          <div id="submenu-right-accomodation">
            <a href="/accomodation/onebedroom">
              <div class="submenu-text">
                One Bedroom
              </div>
            </a>
            <br>
            <a href="/accomodation/twobedroom">
              <div class="submenu-text">
                Two Bedrooms
              </div>
            </a>
          </div>
        </div>
        <!-- End Accomodation -->

        <!-- Services -->
        <!-- <a href="/services">
          <div id='nav-services' class='nav-item'>
            SERVICES
          </div>
        </a> -->
        <!-- End Services -->

        <!-- Facilities -->
        <a href="/facilities">
          <div id='nav-facilities' class='nav-item'>
            <div id='sub-facilities-header' >
              FACILITIES
            </div>
            <div id='sub-facilities' class='sub-menu'>
              <a href="/facilities/#huge-swimming-pool">
                <div class="submenu-text">
                  Huge Swimming Pool<br />
                  สระว่ายน้ำขนาดใหญ่
                </div>
              </a>
              <a href="/facilities/#fitness">
                <div class="submenu-text">
                  Modern Gym<br />
                  ฟิตเนส
                </div>
              </a>
              <a href="/facilities/#restaurant">
                <div class="submenu-text">
                  Restaurant<br />
                  ร้านอาหาร
                </div>
              </a>
              <a href="/facilities/#saunas">
                <div class="submenu-text">
                  Saunas<br />
                  ซาวน่า
                </div>
              </a>
              <a href="/facilities/#convenience-store-and-parking">
                <div class="submenu-text">
                  Convenience Store and parking<br />
                  มินิมาร์ท และ ลานจอดรถ
                </div>
              </a>
            </div>
          </div>
        </a>
        <!-- End Facilities -->

        <!-- About us -->
        <div id='nav-aboutus' class='nav-item'>
          <div id='sub-aboutus-header'>
            ABOUT US
          </div>
          <div id='sub-aboutus' class='sub-menu'>
            <a href="/aboutus">
              <div class="submenu-text">
                About Us<br />
                เกี่ยวกับเรา
              </div>
            </a>
            <a href="/aboutus/contact">
              <div class="submenu-text">
                Contact<br />
                ติดต่อเรา
              </div>
            </a>
            <a href="/aboutus/direction">
              <div class="submenu-text">
                Direction<br />
                นำทาง
              </div>
            </a>
          </div>
        </div>
        <!-- End About us -->
    </nav>

    <div id='app-container'>
      {{{body}}}

    </div>
    <footer>
      <a href="/">
        <div class="header-text-footer">
          The Change Suite
          <hr>
        </div>
      </a>
      <div id="footer-container" class="flex-all">
        <div class="footer-item footer-item-mobile">
          <h2>Contact Us</h2>
          <p>
            The Change Suite Korat<br />
            222/4 Moo 4<br />
            Mittraphap-Nonhkai Rd.,<br />
            Nai Muang, Muang, Nakorn Rachasima 30000 <br />
            Tel. 044-247-533<br />
            Mobile1. +66(0) 910 191 789 <br />
            Mobile2. +66(0) 909 906 495 <br />
            Fax: +66(0) 44 247534 <br />
          </p>
        </div>
        <div class="footer-item hidden-mobile">
          <h2>Location</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3853.8244756840513!2d102.11699761488718!3d15.002445689547507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31194b9db8575f29%3A0x2e0c2dc8257b24fa!2sThe+Change+All+Suites!5e0!3m2!1sen!2sth!4v1483177523499" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="footer-item">
          <h2>Follow Us</h2>
          <a href="https://www.facebook.com/thechangesuites">
            <i class="fa fa-facebook-official fa-2x"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus-square fa-2x"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
      <hr>
      <br>
      All Rights Reserved © 2017 AdaFactor.com
    </footer>

    <script type='text/javascript' src='/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/swiper/dist/js/swiper.min.js'></script>
    <script type='text/javascript' src='/swiper/dist/js/swiper.jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/NavController.js'></script>
    <script type='text/javascript' src='/javascripts/swiperController.js'></script>
  </body>
</html>
