<div id="services-page" class="section swiper-container">
      <div class="parallax-bg parallax-bg-services" data-swiper-parallax="-20%"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="title" data-swiper-parallax="-100">
                <i class="fa fa-heart" aria-hidden="true"></i>
                Services
              </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                     24 hours reception service
                  </li>
                  <li>
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    CCTV
                   </li>
                  <li>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    Mobile Phone for rent
                  </li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide show-right">
            <div class="title" data-swiper-parallax="-100">
              <i class="fa fa-heart" aria-hidden="true"></i>
              Services
            </div>
              <div class="text" data-swiper-parallax="-400">
                <ul>
                  <li>
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                     FREE! WIFI 'High-Speed Internet'
                  </li>
                  <li>
                    <i class="fa fa-tv" aria-hidden="true"></i>
                    FREE! Cable TV
                   </li>
                  <li>
                    <i class="fa fa-play" aria-hidden="true"></i>
                    FREE! DVD Library and DVD players on request
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
</div>
