<div id="aboutus-page">
  <!-- ROW 1 -->
  <div class="row flex-all">
    <div class="aboutus-item">
      <img src="/images/aboutus/a1.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a2.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a3.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a4.png" alt="">
    </div>
  </div>
  <!-- ROW 2 -->
  <div class="row flex-all">
    <div class="aboutus-item">
      <img src="/images/aboutus/a5.png" alt="">
    </div>
    <div class="aboutus-item content">
      <div class="on-top-text">
        About Us
      </div>
      <h1>The Change Suites</h1>
      <p>
        The 'All Suites'  property is located directly at the highway <br>
        leading to Khon Kaen and offers the best rooms at Nakorn Ratchasima
      </p>
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a6.png" alt="">
    </div>
  </div>
  <!-- ROW 3 -->
  <div class="row flex-all">
    <div class="aboutus-item">
      <img src="/images/aboutus/a7.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a8.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a9.png" alt="">
    </div>
    <div class="aboutus-item">
      <img src="/images/aboutus/a10.png" alt="">
    </div>
  </div>
</div>
