<div class="contact-page-container flex-all">
  <div id="contact-item-left" class="flex-item">
    <div class="text">
      <h1>
        <i class="fa fa-address-card" aria-hidden="true"></i>
        Contact Us
      </h1>
      <p>
        <address class="text">
          The Change Suite Korat<br />
          222/4 Moo 4
          Mittraphap-Nonhkai Rd.,<br />
          Nai Muang, Muang, Nakorn Rachasima 30000 <br />
          <hr>
          Tel. 044-247-533<br />
          Mobile1. +66(0) 910 191 789 <br />
          Mobile2. +66(0) 909 906 495 <br />
          Fax: +66(0) 44 247534 <br />
        </address>
      </p>
    </div>
  </div>
  <div id="services-item-right" class="flex-item">
    <img src="/images/aboutus/a1.png" alt="">
  </div>
</div>
<div class="services-facilities-container flex-all">
  <div id="facilities-item-left" class="flex-item">
    <img src="/images/aboutus/a10.png" alt="">
  </div>
  <div id="account-item-right" class="flex-item">
    <div class="text">
      <h1>
        <i class="fa fa-bank" aria-hidden="true"></i>
        Accounts
      </h1>
      <img class="bank-logo" src="/images/logo_krungsri.gif" alt="">
      <p class="bank-text">
          ธนาคาร กรุงศรีอยุธยา <br>
          สาขา นครราชสีมา <br>
          ชื่อบัญชี บจก.เดอะเชนจ์ สวีทส์ <br>
          เลขบัญชี 019 - 1 - 80236 - 9
      </p>
    </div>
  </div>
</div>
</div>
